.col9 {
  color: #999;
}
.col6 {
  color: 666;
}
.mt60 {
  margin-top: 45px;
}
.header {
  position: fixed;
  width: 100%;
  height: 40px;
  line-height: 40px;
  top: 0;
  left: 0;
  box-shadow: 1px 2px 3px #999;
  color: #fff;
  background-color: #0e90d2;
  z-index: 1000;
}
.index-nav {
  margin-bottom: 20px;
}
.index-nav img {
  width: 50px;
}
.index-nav li {
  position: relative;
}
.index-nav .text {
  margin-top: 10px;
}
.common_list {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.common_list .titleIcon {
  height: 60px;
  margin-right: 10px;
}
.common_list .content {
  line-height: 20px;
}
.common_list .statusIcon {
  height: 50px;
  margin: 5px 0px;
}
.left-btn {
  margin-left: 10px;
}
.index_wrap {
  margin-top: 45px;
}
.index_wrap .index-nav li {
  margin-top: 10px;
}
.index_wrap .index-list {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.index_wrap .index-list .titleIcon {
  height: 60px;
  margin-right: 10px;
}
.index_wrap .index-list .content {
  line-height: 20px;
}
.index_wrap .index-list .statusIcon {
  height: 50px;
  margin: 5px 0px;
}
.train_wrap {
  margin-top: 45px;
}
.train_wrap .train-list {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.train_wrap .train-list .titleIcon {
  height: 60px;
  margin-right: 10px;
}
.train_wrap .train-list .content {
  line-height: 20px;
}
.train_wrap .train-list .statusIcon {
  height: 50px;
  margin: 5px 0px;
}
.materials_wrap {
  margin-top: 45px;
}
.materials_wrap .materials-list {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.materials_wrap .materials-list .titleIcon {
  height: 60px;
  margin-right: 10px;
}
.materials_wrap .materials-list .content {
  line-height: 20px;
}
.materials_wrap .materials-list .statusIcon {
  height: 50px;
  margin: 5px 0px;
}
.my_address {
  margin: 10px;
  box-shadow: 1px 2px 3px #ccc;
  padding: 10px;
  background: #eee;
}
.am-tabs-d2 {
  margin: 0;
}
.table_2 td:nth-of-type(1) {
  width: 40%;
}
.table_2 td:nth-of-type(2) {
  widht: 60%;
}
.table_2 select {
  width: 176px;
  line-height: 27px;
  height: 27px;
  border-radius: 0;
}
.gotoTrain_wrap {
  margin-top: 45px;
}
.gotoTrain_wrap .btn_list {
  margin-top: 20px;
}
.basicInfo_wrap {
  margin-top: 45px;
}
.notice_wrap {
  margin-top: 45px;
}
.notice_wrap .notice-list {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px 0px;
  margin: 10px 0 ;
}
.notice_wrap .notice-list .titleIcon {
  height: 60px;
  margin-right: 10px;
}
.notice_wrap .notice-list .content {
  line-height: 20px;
}
.notice_wrap .notice-list .statusIcon {
  height: 50px;
  margin: 5px 0px;
}
.notice_wrap .notice-list h6 {
  line-height: 25px;
  padding: 0;
  margin: 0;
}
.notice_wrap .notice-list .col9 {
  line-height: 20px;
}
.textbook_wrap {
  margin-top: 45px;
}
.myTrain_wrap .myTrain-list {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.myTrain_wrap .myTrain-list .titleIcon {
  height: 60px;
  margin-right: 10px;
}
.myTrain_wrap .myTrain-list .content {
  line-height: 20px;
}
.myTrain_wrap .myTrain-list .statusIcon {
  height: 50px;
  margin: 5px 0px;
}
